<!-- create a folder named templates, put this file into it -->
<!DOCTYPE html>

<title>Upload File to Dog Breed Identifier</title>
<body background="{{url_for('static', filename='background.jpg')}}">
<center>
<h1>Dog Breed Identifier</h1>
<form method="POST" enctype="multipart/form-data">
     {{ form.hidden_tag() }}
     {{ form.photo }}
     {% for error in form.photo.errors %}
         <span style="color: red;">{{ error }}</span>
     {% endfor %}
     {{ form.submit }}
</form>

{% if file_url %}
     <br>
     <img src="{{ file_url }}" style="max-width:50%;" border="5">
     <br>
     <div align="center">
          <iframe
                  style='text-align: center; width: 50%; margin: 10 auto; background: transparent;'
                  src="static/down.html?image={{ file_url }}" frameborder="0">
          </iframe>
     </div>
{% endif %}
</center>