<!DOCTYPE html>
<html>
<body>
<br>
<div align="center"
	 style='margin: 5; background: white;
	 	    border-style: solid; border-width: medium;
            padding-top: 10px;
  			padding-right: 10px;
  			padding-bottom: 10px;
  			padding-left: 10px;
            background: {{ background }}'>
	<b><font color="{{ color }}" size="4">
		{{ prediction }}
	</font></b>
</div>
</body>
</html>